{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
    <h1>Check your inbox.</h1>
    <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
    <p><a href="{% url 'home' %}">Home</a></p>
{% endblock %}
