{% extends 'base.html' %}
{% block title %}
    <h1>Home</h1>
{% endblock %}

{% block content %}
    <hr>
    {% if user.is_authenticated %}
        Hi {{ user.username }}
        <hr>
    {% endif %}
    <h1>Hello</h1>
{% endblock %}